<!-- À placer dans app.component.html ou ton layout principal -->
<header class="header">
  <div class="logo">
    <a routerLink="/">
      <mat-icon style="vertical-align: middle; margin-right: 8px;">home</mat-icon>
    </a>
    Domaris
  </div>
  <nav class="nav-links">
    @if (hasRole('admin')) {
      <a routerLink="/admin" class="btn">Admin</a>
    }
    @if (!auth_service.userLoggedIn()) {
      <a routerLink="/login" class="btn">Connexion</a>
    }
    @if (auth_service.userLoggedIn()) {
      <a (click)="logout()" class="btn_deconnecter">Déconnexion</a>
    }
    @if (auth_service.userLoggedIn()) {
      <span class="username">
        {{ auth_service.userSignal()?.username }}
      </span>
    }
  </nav>
</header>