<div class="titre" style="color: white;">
  <h1>Administration</h1>
</div>
<mat-tab-group style="background-color: white">
  <mat-tab label="Utilisateurs">
    <div style="padding: 20px;
    background-color: rgb(200, 204, 207);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;">
      <ng-container [ngTemplateOutlet]="userTab">
      </ng-container>
    </div>

  </mat-tab>
  <mat-tab label="entreprises">
    <div style="padding: 20px;
    background-color: rgb(200, 204, 207);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;">
      <ng-container [ngTemplateOutlet]="entrepriseTab">
      </ng-container>
    </div>
  </mat-tab>
</mat-tab-group>
<ng-container [ngTemplateOutlet]="user_form">
</ng-container>
<ng-container [ngTemplateOutlet]="entreprise_form">
</ng-container>
<ng-template #userTab>
  <div class="add_button">
    <button mat-icon-button color="primary" (click)="new_user()" aria-label="Ajouter un utilisateur">
      <mat-icon>add</mat-icon> </button>
  </div>
  <table mat-table [dataSource]="users_dataSource()" class="booktable">
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let user" data-label="Nom"> {{user.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef> Prénom </th>
      <td mat-cell *matCellDef="let user" data-label="Prénom"> {{user.prenom}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let user" data-label="Email"> {{user.email}} </td>
    </ng-container>
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef> Mot de passe </th>
      <td mat-cell *matCellDef="let user" data-label="Mot de passe"> {{user.mot_de_passe}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Rôle </th>
      <td mat-cell *matCellDef="let user" data-label="Rôle"> {{user.role}} </td>
    </ng-container>

    <ng-container matColumnDef="entreprise">
      <th mat-header-cell *matHeaderCellDef> Entreprise </th>
      <td mat-cell *matCellDef="let user" data-label="Entreprise"> {{user.entreprise}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let user" data-label="Actions">
        <button mat-icon-button (click)="click_user(user)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="removeUser(user)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="user_columns"></tr>
    <tr mat-row *matRowDef="let row; columns: user_columns;"></tr>
  </table>
</ng-template>
<ng-template #entrepriseTab>
  <div class="add_button">
    <button mat-icon-button color="primary" (click)="new_entreprise()" aria-label="Ajouter une entreprise">
      <mat-icon>add</mat-icon> </button>
  </div>
  <table mat-table [dataSource]="entreprises_dataSource()" class="booktable">

    <ng-container matColumnDef="enseigne">
      <th mat-header-cell *matHeaderCellDef> Enseigne </th>
      <td mat-cell *matCellDef="let entreprise" data-label="Enseigne"> {{entreprise.enseigne}} </td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let entreprise" data-label="Code"> {{entreprise.code}} </td>
    </ng-container>

    <ng-container matColumnDef="adresse">
      <th mat-header-cell *matHeaderCellDef> Adresse </th>
      <td mat-cell *matCellDef="let entreprise" data-label="Adresse"> {{entreprise.adresse}} </td>
    </ng-container>


    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let entreprise" data-label="Email"> {{entreprise.email}} </td>
    </ng-container>

    <ng-container matColumnDef="telephone">
      <th mat-header-cell *matHeaderCellDef> Téléphone </th>
      <td mat-cell *matCellDef="let entreprise" data-label="Téléphone"> {{entreprise.telephone}} </td>
    </ng-container>

    <ng-container matColumnDef="site_web">
      <th mat-header-cell *matHeaderCellDef> Site Web </th>
      <td mat-cell *matCellDef="let entreprise" data-label="Site Web"> {{entreprise.site_web}} </td>
    </ng-container>

    <ng-container matColumnDef="rccm">
      <th mat-header-cell *matHeaderCellDef> Rccm </th>
      <td mat-cell *matCellDef="let entreprise" data-label="Rccm"> {{entreprise.rccm}} </td>
    </ng-container>

    <ng-container matColumnDef="ifu">
      <th mat-header-cell *matHeaderCellDef> Numero Ifu </th>
      <td mat-cell *matCellDef="let entreprise" data-label="Numero Ifu"> {{entreprise.ifu | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="signataire">
      <th mat-header-cell *matHeaderCellDef> Statut </th>
      <td mat-cell *matCellDef="let entreprise" data-label="Statut"> {{entreprise.signataire}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let entreprise" data-label="Actions">
        <button mat-icon-button (click)="click_entreprise(entreprise)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="removeEntreprise(entreprise.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="entreprise_columns"></tr>
    <tr mat-row *matRowDef="let row; columns: entreprise_columns;"></tr>
  </table>
</ng-template>
<ng-template #user_form>
  <div class="user_formContainer" [class.activate]="activate_usersForm()">
    <form [formGroup]="users_formGroup" (ngSubmit)="submit_creationCompte()">
      <div class="row">
        <div class="col l12 s6">
          <mat-form-field appearance="fill">
            <mat-label>Nom </mat-label>
            <input matInput formControlName="nom" required>
            @if (users_formGroup.get('nom')?.hasError('required')) {
            <mat-error>
              Le champ nom est requis.
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col l12 s6">
          <mat-form-field appearance="fill">
            <mat-label>Prénom</mat-label>
            <input matInput formControlName="prenom" required>
            @if (users_formGroup.get('prenom')?.hasError('required')) {
            <mat-error>
              Le champ prénom est requis.
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col l12 s6">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
            @if (users_formGroup.get('email')?.hasError('required')) {
            <mat-error>
              Le champ email est requis.
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col l12 s6">
          <mat-form-field appearance="fill">
            <mat-label>Rôle</mat-label>
            <mat-select formControlName="role" required>
              <mat-option value="admin">Admin</mat-option>
              <mat-option value="respo_programmes">Directeur programmes</mat-option>
              <mat-option value="respo_projet">Chef de projet</mat-option>
              <mat-option value="respo_travaux">Chef opérations</mat-option>
              <mat-option value="respo_finances">Responsable finances</mat-option>
            </mat-select>
            @if (users_formGroup.get('role')?.hasError('required')) {
            <mat-error>
              Le champ rôle est requis.
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col l12 s6">
          <mat-form-field appearance="fill">
            <mat-label>entreprises</mat-label>
            <mat-select formControlName="entreprise_id" required>
              @for (entreprise of entreprises(); track entreprise) {
              <mat-option [value]="entreprise.id">
                {{entreprise.enseigne}}
              </mat-option>
              }
            </mat-select>
            @if (users_formGroup.get('entreprise')?.hasError('required')) {
            <mat-error>
              Le champ entreprise est requis.
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col l12 s6">
          <mat-form-field appearance="fill">
            <mat-label>Projets</mat-label>
            <mat-select formControlName="projet_ids" required multiple>
              @for (programme of programmes(); track  programme.id) {
              <mat-option [value]="programme.id">
                {{programme.nom}}
              </mat-option>
              }
            </mat-select>
            @if (users_formGroup.get('projet_ids')?.hasError('required')) {
            <mat-error>
              Le champ projets est requis.
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col l12 s12">
          <button mat-flat-button color="primary" type="submit" [disabled]="users_formGroup.invalid">{{
            _is_update_users() ? 'Mettre à jour' : 'Créer' }}</button>
        </div>
        <div class="col l12 s12 warning">
          <button mat-flat-button color="warn" type="button" (click)="activate_usersForm.set(false)">Annuler</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #entreprise_form>
  <div class="entreprise_formContainer" [class.activate]="activate_entrepriseForm()">
    <form [formGroup]="entreprise_formGroup" (ngSubmit)="submit_creationEntreprise()">
      <div class="row">
        <div class="col s6">
          <mat-form-field appearance="fill">
            <mat-label>Nom de l'entreprise</mat-label>
            <input matInput formControlName="enseigne" required>
            @if (entreprise_formGroup.get('enseigne')?.hasError('required')) {
            <mat-error>
              Le champ nom est requis.
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col s6">
          <mat-form-field appearance="fill">
            <mat-label>Code</mat-label>
            <input matInput formControlName="code" required>
            @if (entreprise_formGroup.get('code')?.hasError('required')) {
            <mat-error>
              Le champ code est requis.
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col s6">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
        </div>
        <div class="col s6">
          <mat-form-field appearance="fill">
            <mat-label>Adresse</mat-label>
            <input matInput formControlName="adresse">

          </mat-form-field>
        </div>
        <div class="col s6">
          <mat-form-field appearance="fill">
            <mat-label>Téléphone</mat-label>
            <input matInput formControlName="telephone" required>
            @if (entreprise_formGroup.get('telephone')?.hasError('required')) {
            <mat-error>
              Le champ téléphone est requis.
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col s6">
          <mat-form-field appearance="fill">
            <mat-label>Site Web</mat-label>
            <input matInput formControlName="site_web">
          </mat-form-field>
        </div>
        <div class="col s6">
          <mat-form-field appearance="fill">
            <mat-label>RCCM</mat-label>
            <input matInput formControlName="rccm">
          </mat-form-field>
        </div>
        <div class="col s6">
          <mat-form-field appearance="fill">
            <mat-label>Numéro IFU</mat-label>
            <input matInput formControlName="ifu">
          </mat-form-field>
        </div>
        <div class="col s6">
          <mat-form-field appearance="fill">
            <mat-label>Statut du signataire</mat-label>
            <input matInput formControlName="signataire">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button mat-flat-button color="primary" type="submit" [disabled]="entreprise_formGroup.invalid">{{
            _is_update_entreprise() ? 'Mettre à jour' : 'Créer' }}</button>
        </div>
        <div class="col s12 warning">
          <button mat-flat-button color="warn" type="button"
            (click)="activate_entrepriseForm.set(false)">Annuler</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>