<main class="home-main">
  <section class="home-hero">
    <h1>Bienvenue sur <span style="color:#1976d2;">Domaris</span></h1>
    <p>
     Domaris
L’outil digital pour vos projets immobiliers

Centralisez, suivez, pilotez.
Avec Domaris, gérez chaque étape de vos programmes immobiliers : études, travaux, livraisons.
Une plateforme claire pour des projets maîtrisés.
    </p>
    <a mat-raised-button color="primary" routerLink="/layout/tbord">
      <mat-icon style="vertical-align: middle; margin-right: 6px;">dashboard</mat-icon>
      Accéder au tableau de bord
    </a>
  </section>
</main>